body {
    font-family: "Open Sans", sans-serif;
}
.container {
    display: flex;
    background: black;
    width: 100vw;
    height: 80px;
    justify-content: space-around;
    
}

.mainnav {
    color: white;
    display: flex;
    justify-content: space-around;
    width: 500px;
    align-items: center;
}

.subnav {
    color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}

.maincontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maincontent img {
    width: 100vw;
    height: 86vh;
}

.child {
    position: absolute;
    bottom: 2vh;
    color: white;
    font-size: 40px;
    height: 15vh;
    width: 100vw;
    text-align: center;
    background:rgba(0, 0, 0, 0.548);
}

.statement {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.smbox {
    height: 50px;
    font-size: 25px;
    text-align: center;
    margin: 50px;
}

.whitebox {
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
}

.box1 {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    padding: 15px;
    box-shadow: 3px 3px 5px 6px #ccc;
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
}



.box2 {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    padding: 15px;
    box-shadow: 3px 3px 5px 6px #ccc;
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;

}

.box3 {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    padding: 15px;
    box-shadow: 3px 3px 5px 6px #ccc;
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
}



.footer {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 100px;
    width: 100vw;
}

.end {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.end li {
    width: 100px;
}